body{
    font-family: 'Rosario', sans-serif; 
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1.5em;
}
.navbar-inverse .navbar-brand {
    color: #9d9d9d;
    font-size: 2em;
    padding-top: 10px;
}
.flex-column{
    margin:80px -20px 20px 20px;
    display: none;
    
}
.nav>li>a{ 
    font-size:1.4em;
    padding:20px 20px;
}
.main{
    padding:20px;
    
}
.placeholders{
   margin-top: 10px;
    margin-bottom: 30px;
}
.placeholder{
    margin-bottom: 20px;
    text-align: center;
}
.placeholder img{
    display: inline;
    border-radius:50%;
    
}
.footer{
    height:142px;
    width:100%;
    margin-top:0;
    margin-bottom: 0;
    background-color: lightslategray;
    opacity: 0.9;
}
.footer h1{
    font-size: 1emm;
    text-align: center;
    padding-top:50px;
    padding-bottom: 50px;
}

